.header__logo {
  margin-bottom: 40px;
  display: block;
}

@media (max-width: 992px) {
  .header__logo {
    margin-left: 18px;
  }
}

@media (max-width: 576px) {
  .header__logo {
    width: 104px;
    height: 24px;
    margin-bottom: 0px;
    margin-left: 30px;
  }
}