.auth__title {
  font-size: 24px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 50px;
  line-height: 1.20;
  color: #fff;
  text-align: center;
}

@media (max-width: 576px) {
  .auth__title {
    font-size: 20px;
    margin-bottom: 40px;
  }
}