.popup__input {
  border: none;
  border-bottom: 1px solid #C4C4C4;
  height: 27px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #000;
}

.popup__input:focus {
  outline: none;
  border: 1px solid #000;
}

.popup__input::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #C4C4C4;
  line-height: 1.21;
}
